.venv/
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
results/
submodules/rlp/build/
submodules/rlp/rlp.egg-info/
submodules/rlp/rlp/constants*.so
submodules/rlp/rlp/lib/
submodules/rlp/rlp/lib/*.so
submodules/rlp/rlp/lib/CMakeCache.txt
submodules/rlp/rlp/lib/CMakeFiles/
submodules/rlp/rlp/lib/Makefile
submodules/rlp/rlp/lib/cmake_install.cmake
submodules/rlp/rlp/lib/**/CMakeFiles/
submodules/rlp/rlp/lib/**/Makefile
submodules/rlp/rlp/lib/**/cmake_install.cmake
submodules/flowfree/flowfree_all_solutions
